$global-font: 14px;
$recent: 11px;
$h5: 11px;
$h2: 18px;
$track: 12px;
$icon: 16px;
$h1:36px;
$music-info: 28px;
$big-icon: 24px;
$large:72px;
$mob-btn: 13px;
$mob-track: 15px;

//font-weight:
$normal: 200;
$bold: 400;
$bolder: 600;

$small:8px;
$mini: 5px;